* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
}

.recipe {
	font-family: 'Brush Script MT', cursive;
}

.heading-container,
.parent-container {
	width: 80%;
	margin: auto;
	margin-top: 2%;
	padding: 1%;
}

.sidebar,
.parent-container,
img,
.footer {
	border-radius: 1em;
	border: solid black 0.1em;
}

.sidebar {
	display: inline-block;
	width: 50%;
	background-color: gainsboro;
	padding: 1%;
}

img {
	display: inline-block;
	width: 35%;
	height: auto;
}

.heading-container {
	font-size: 3em;
}

.sidebar,
img {
	vertical-align: top;
	margin: 1%;
}
