.site-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 10% 0 10%;
	gap: 1em;
}

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
}

p {
	margin: 0;
}

.recipe {
	font-family: 'Brush Script MT', cursive;
}

.flex-container-1 {
	display: flex;
	justify-content: center;
	gap: 2%;
}

img {
	width: 10%;
	height: auto;
}

.box {
	background-color: gainsboro;
	border: solid black 0.1em;
	border-radius: 1em;
	padding: 0.5em;
}
